*{
  margin:  0;
  padding: 0;
}
body{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
 h1{
   margin: 10vh;
 }
 .conteiner{
   margin: 20px;
border: 2px solid #DDD;
 }
.linea{
  height: 30px;
  background-color: red;
  display: flex;
  margin: 5px;
  justify-content: center;
}
.linea p{

}
.titulo{
line-height: 2em;
}
.texto{
margin: 10px;

}