*{
  margin:  0;
  padding: 0;
}
body{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
 h1{
   margin: 10vh;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 .footer{
  height: 50px;
  background-color: red;
  margin: 20px;
 
}